*{
    font-family: "Roboto", "Arial", sans-serif ;
    margin: 0;
}

.header, .introduction, .footer{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
}

.navbar{ 
    display: flex;
    list-style-type: none;
    gap: 18px;
}

.navbar a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.body{
    display: flex;
    direction: column;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    gap: 40px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.maintext{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bolder;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.mainimage{
    width: 600px;
    height: auto;
    border-radius: 20px;
}

.signbutton{
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    width: 120px;
    height: 35px;
    background-color: #3882F6;
    border: none;
}

.signbutton:active{
    transform: translateY(2px);
}