*{
    font-family: "Roboto", "Arial", sans-serif ;
    margin: 0;
}

.header, .introduction, .footer{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 140px;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
}

.navbar{ 
    display: flex;
    list-style-type: none;
    gap: 18px;
}

.navbar a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.body{
    display: flex;
    flex-direction: column;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 140px;
    gap: 40px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.maintext{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bolder;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.mainimage{
    width: 600px;
    height: auto;
    border-radius: 20px;
}

.signbutton{
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    width: 120px;
    height: 35px;
    background-color: #3882F6;
    border: none;
}

.signbutton:active{
    transform: translateY(2px);
}

.information{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 250px;
    gap: 50px;
}

.info-title{
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}

.info-display{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.info-image{
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.info-container .subtext{
    text-align: center;
    font-size: 18px;
    color: #3882F6;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 250px;
    gap: 10px;
    background-color: #E5E7EB;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.source{
    color: #1F2937;
    font-size: 24px;
    text-align: right;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 100px;
}

.box{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    border-radius: 6px;
    padding: 40px 100px;          
}

.box .text{
    display: flex;
    flex-direction: column;
}

.box .signbutton{
    border-style: solid;
    border-color: #E5E7EB;
    border-width: 3px;
}

.text h2, .text p{
    color: #E5E7EB;
}

.footer{
    padding: 35px;
}

.footer h3{
    color: #E5E7EB;
    text-align: center;
    font-size: 90%;
    font-weight: lighter;
}